<nav class="navbar navbar-expand-md navbar-dark ">
    <a class="navbar-brand" href="/">Рекомендательная система курсов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:new_course' %}">Создать курс</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:new_user' %}">Добавить пользователя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:view_table' %}">Таблица</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:matrix' %}">Матрица близости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:show_recommendations_list' %}">Рекомендации</a>
            </li>
        </ul>
        <ul class="navbar-nav" style="float: right;">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:select_user' %}">Войти</a>
            </li>
        </ul>
    </div>
</nav>
