body, html {
    height: 100%;
    background-color: #282a3b;
}

input {
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}
.form-group {
    color: white;
}
nav {
    background-color: #202230;
}

.container {
    margin-top: 10px;
}

.card {
    margin-top: 30px;
    background-color: #282a3b;
}

.card-header {
    background-color: #202230;
}

h5 {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-group.special {
    display: flex;
}



.btn-warning {
    text-align: center;

    margin-top: 20px;
    width: 30%;
}

.modal-dialog {
    max-width: 92% !important;
}

#bs-warning {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}


