{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'recommendations/add_user.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">

                <a class="nav-link" href="{% url 'main:new_course' %}">Создать курс</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:new_user' %}">Добавить пользователя</a>

            </li>

        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Рекомендательная система курсов</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:select_user' %}">Войти</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="card border-warning">
        <div class="card-header text-white">
            <h4>Добавить пользователя</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="error">
                        {% if error_mess %}
                            <div id="bs-danger" class="alert alert-danger">
                                <strong>Внимание!</strong> {{ error_mess }}
                            </div>
                        {% endif %}
                    </div>
                    <form class="form-row" method="post" action="{% url 'main:new_user' %}">
                        {% csrf_token %}

                        <h5 for="exampleInputEmail1" style="color:white;">Имя пользователя</h5>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Введите имя пользователя"
                               name="name">

                        <input type="submit" id="calculate" class="btn btn-md btn-warning" value="Сохранить">

                    </form>

                </div>
                <div class="col-lg-6">

                </div>
            </div>


        </div>

    </div>
</div>
</body>
</html>