{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'recommendations/add_user.css' %}">

</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
    <div class="card border-warning">
        <div class="card-header text-white">
            <h4>Добавить пользователя</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="error">
                        {% if error_mess %}
                            <div id="bs-danger" class="alert alert-danger">
                                <strong>Внимание!</strong> {{ error_mess }}
                            </div>
                        {% endif %}
                    </div>
                    <form class="form-row" method="post" action="{% url 'main:new_user' %}">
                        {% csrf_token %}

                        <h5 for="exampleInputEmail1" style="color:white;">Имя пользователя</h5>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Введите имя пользователя"
                               name="name">

                        <input type="submit" id="calculate" class="btn btn-md btn-warning" value="Сохранить">

                    </form>

                </div>
                <div class="col-lg-6">

                </div>
            </div>


        </div>

    </div>
</div>
</body>
</html>
