{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Matrix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'recommendations/select_course.css' %}">
    <style>
        .white {
            color: white;
        }
    </style>
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
    <div class="card border-warning">
        <div class="card-header text-white">
            <h4>
                Матрица совместимости
                {% if username2 is none %}
                    - выбор пользователя
                {% endif %}
            </h4>
        </div>

        <div class="card-body">
            <div class="row">
                {% if username2 is none %}
                    <div class="col-lg-12">
                        <div class="list-group">
                            {% for user in users %}
                                {% if username1 is not none %}
                                    <a class="list-group-item" href="{% url 'main:matrix2' username1 user.name %}">
                                        {{ user.name }}
                                    </a>
                                {% else %}
                                    <a class="list-group-item" href="{% url 'main:matrix1' user.name %}">
                                        {{ user.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-6">
                        <h4 class="white">{{ username1 }}</h4>
                        <p class="white">
                            {% for c in user1_courses %}
                                {{ c }},
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="white">{{ username2 }}</h4>

                        <p class="white">
                            {% for c in user2_courses %}
                                {{ c }},
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h1 class="white">{{ coef }}</h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
