{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'recommendations/select_course.css' %}">
    <style>
        .white {
            color: white;
        }
    </style>
</head>
<body>
{% include 'common/navbar.html' %}
<div class="container">
    <div class="card border-warning">
        <div class="card-header text-white">
            <h4>Таблица результатов</h4>
        </div>

        <div class="card-body">
            <ul class="list-group">
                {% for key, value in recommendations.items %}
                    <li class="list-group-item">{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>
