<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select User</title>
</head>
<body>
<div>
    <form class="form-row" method="post" action="{% url 'main:select_user' %}">
        {% csrf_token %}
        <input type="text" placeholder="Введите имя пользователя" name="name">
        <button type="submit">Выбрать</button>
    </form>
</div>
<p>
    <a href="{% url 'main:new_course' %}">Создать курс</a>
</p>
<p>
    <a href="{% url 'main:new_user' %}">Создать пользователя</a>
</p>
<p>
    <div>
        {% if error_mess %}
            <h2>{{ error_mess }}</h2>
        {% endif %}
    </div>
</p>
</body>
</html>